version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: mining-dashboard-app_web_1
      APP_PORT: 3456

  web:
    image: j73642/mining-dashboard-app:v1.0.11
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data:/data
    environment:
      NODE_ENV: production
      PORT: 3456
      DATA_DIR: /data
