version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: mining-dashboard-app_web_1
      APP_PORT: 3456

  web:
    image: j73642/mining-dashboard-app:v1.0.10@sha256:9a3bccf0c178d1774ff92b40232c1f255c2b0dfc7a9e7bd2aa0e0d501724de61
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data:/data
    environment:
      NODE_ENV: production
      PORT: 3456
      DATA_DIR: /data
